/* Website Styles */

*{
    font-size: 30px;
    font-family: 'baloo', cursive;

}
body {
  background-color: lightBlue;
  color: black;
/*   font-family: 'baloo', cursive; */

}

h1 {
  color:red;
  font-family: Helvetica, Arial;
  font-size: 36px;
  font-style: italic;

}

h2 {
  color:green;
      font-size: 24px;
      font-weight: 100;
  font-style: oblique;

}

h3 {
  color: black;
    font-size: 36px;
      font-style: normal;
}

header {
  color rgb: (44,44,44);
  /* background-color: yellow; */
}

section {
  color: blue;
  background-color: black;
}

p {
  color: red;
  background-color: magenta;
  /* background-color: grey; */
  line-height: 2;


}

footer {
  color: orange;
}
